*,
*::after,
*::before {
    box-sizing: border-box;
}

$color: #fcfcfc;

body {
    background-color: $color;

    h1 {
        font-weight: bold;
        color: beige;
    }
}

a {
    transition: 0.3s all ease-in-out;
}

ul {
    li {
        display: inline-block;
    }
}